In [3]:
import pandas as pd

In [5]:
raw = pd.read_csv("DATA/RAW DATA/Tuberculosis Trends.csv")
print(raw)

        Country         Region  Income_Level  Year  TB_Cases  TB_Deaths  \
0     Indonesia           Asia  Upper-Middle  2002     14128       3846
1        Brazil  North America  Lower-Middle  2017      1069        342
2       Nigeria  South America          High  2006      2473       6316
3        Russia         Africa  Lower-Middle  2014     36090       6420
4     Indonesia         Europe  Upper-Middle  2020     33538       4910
...         ...            ...           ...   ...       ...        ...
2995     Russia         Africa  Lower-Middle  2018     26021       2096
2996     Russia           Asia  Lower-Middle  2014     37172       3194
2997      India         Europe           Low  2011     15967       3271
2998   Pakistan         Europe          High  2020     32519       5114
2999  Indonesia           Asia  Upper-Middle  2009     10919       9495

      TB_Incidence_Rate  TB_Mortality_Rate  TB_Treatment_Success_Rate  \
0                150.58              18.99                      54.52
1                167.80              44.20                      88.19
2                285.77               6.52                      64.55
3                146.46              24.86                      69.77
4                 56.87              10.52                      64.57
...                 ...                ...                        ...
2995             242.90               8.94                      55.26
2996             361.96              42.03                      87.40
2997             175.07              40.04                      80.34
2998             316.16               8.48                      50.31
2999             254.20              18.83                      78.25

      Drug_Resistant_TB_Cases  ...  GDP_Per_Capita  \
0                        3977  ...           25516
1                        4179  ...           26300
2                        4961  ...           30771
3                        4012  ...           35730
4                        2342  ...           38391
...                       ...  ...             ...
2995                     1420  ...           18921
2996                     1147  ...           42422
2997                     4676  ...            1743
2998                     1578  ...           56769
2999                     4482  ...           58376

      Health_Expenditure_Per_Capita  Urban_Population_Percentage  \
0                              3180                        50.49
1                              5529                        24.06
2                              1703                        81.77
3                              8354                        42.19
4                              8024                        64.97
...                             ...                          ...
2995                           6286                        51.26
2996                           2530                        23.09
2997                            607                        22.81
2998                           3536                        86.03
2999                            211                        76.74

      Malnutrition_Prevalence  Smoking_Prevalence  TB_Doctors_Per_100K  \
0                       28.84               22.90                 4.10
1                       28.65               33.79                 8.18
2                       38.69                6.63                 2.26
3                       20.38               15.00                 8.33
4                       39.28               18.00                 6.60
...                       ...                 ...                  ...
2995                    12.82               30.33                 1.11
2996                    22.61               11.46                 3.51
2997                    39.17               39.14                 6.49
2998                    45.81               17.83                 5.24
2999                    49.94               19.42                 2.50

      TB_Hospitals_Per_Million  Access_To_Health_Services  \
0                        15.46                      52.38
1                         3.06                      46.95
2                         4.95                      40.88
3                        13.68                      62.20
4                         4.35                      53.88
...                        ...                        ...
2995                      4.53                      85.44
2996                      9.58                      64.52
2997                     19.83                      78.64
2998                     18.67                      65.16
2999                      7.37                      98.48

      BCG_Vaccination_Coverage  HIV_Testing_Coverage
0                        95.87                 88.39
1                        63.78                 35.60
2                        68.91                 77.81
3                        71.14                 84.91
4                        55.11                 49.89
...                        ...                   ...
2995                     63.19                 33.62
2996                     63.58                 29.94
2997                     81.42                 26.08
2998                     93.22                 75.91
2999                     80.25                 65.25

[3000 rows x 22 columns]

In [6]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        3000 non-null   object
 1   Region                         3000 non-null   object
 2   Income_Level                   3000 non-null   object
 3   Year                           3000 non-null   int64
 4   TB_Cases                       3000 non-null   int64
 5   TB_Deaths                      3000 non-null   int64
 6   TB_Incidence_Rate              3000 non-null   float64
 7   TB_Mortality_Rate              3000 non-null   float64
 8   TB_Treatment_Success_Rate      3000 non-null   float64
 9   Drug_Resistant_TB_Cases        3000 non-null   int64
 10  HIV_CoInfected_TB_Cases        3000 non-null   int64
 11  Population                     3000 non-null   int64
 12  GDP_Per_Capita                 3000 non-null   int64
 13  Health_Expenditure_Per_Capita  3000 non-null   int64
 14  Urban_Population_Percentage    3000 non-null   float64
 15  Malnutrition_Prevalence        3000 non-null   float64
 16  Smoking_Prevalence             3000 non-null   float64
 17  TB_Doctors_Per_100K            3000 non-null   float64
 18  TB_Hospitals_Per_Million       3000 non-null   float64
 19  Access_To_Health_Services      3000 non-null   float64
 20  BCG_Vaccination_Coverage       3000 non-null   float64
 21  HIV_Testing_Coverage           3000 non-null   float64
dtypes: float64(11), int64(8), object(3)
memory usage: 515.8+ KB

In [7]:
raw.describe()

,Year,TB_Cases,TB_Deaths,TB_Incidence_Rate,TB_Mortality_Rate,TB_Treatment_Success_Rate,Drug_Resistant_TB_Cases,HIV_CoInfected_TB_Cases,Population,GDP_Per_Capita,Health_Expenditure_Per_Capita,Urban_Population_Percentage,Malnutrition_Prevalence,Smoking_Prevalence,TB_Doctors_Per_100K,TB_Hospitals_Per_Million,Access_To_Health_Services,BCG_Vaccination_Coverage,HIV_Testing_Coverage
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3.000000e+03,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,2012.049000,24807.937667,5090.818333,255.845483,25.119210,72.484597,2501.796333,4929.499333,7.036535e+08,30046.892333,5039.485667,54.558710,27.549927,22.439453,5.015230,10.268077,64.597103,74.588197,55.498690
std,7.247306,14261.279606,2846.753032,140.651939,14.031132,13.112578,1440.032384,2846.943009,4.018102e+08,17172.813451,2870.269590,20.124572,12.974430,10.179438,2.851124,5.717438,19.990994,14.124815,20.250306
min,2000.000000,515.000000,50.000000,10.060000,1.010000,50.000000,13.000000,10.000000,1.088106e+06,501.000000,50.000000,20.000000,5.010000,5.020000,0.100000,0.510000,30.010000,50.020000,20.000000
25%,2006.000000,12297.750000,2660.500000,133.662500,12.962500,61.067500,1236.000000,2520.750000,3.636371e+08,15212.000000,2543.500000,37.067500,16.385000,13.750000,2.520000,5.130000,47.240000,62.517500,38.240000
50%,2012.000000,24467.000000,5188.000000,255.770000,25.090000,72.545000,2525.500000,4864.000000,6.970638e+08,29707.000000,5008.000000,54.775000,27.635000,22.195000,4.930000,10.390000,64.630000,74.870000,55.825000
75%,2018.000000,37031.500000,7512.500000,374.647500,36.900000,84.025000,3740.000000,7328.500000,1.041607e+09,44463.000000,7518.750000,71.575000,38.782500,31.522500,7.480000,15.360000,81.342500,86.645000,73.497500
max,2024.000000,49985.000000,9991.000000,499.950000,49.990000,94.980000,4999.000000,9989.000000,1.399285e+09,59996.000000,9999.000000,89.990000,49.970000,40.000000,10.000000,20.000000,99.960000,98.990000,89.980000

In [9]:
duplicates = raw[raw.duplicated()]
print(raw.duplicated().sum())

0

In [10]:
# Find duplicated country names
repeated_countries = raw['Country'].value_counts()
repeated_countries = repeated_countries[repeated_countries > 1]

# Display only the repeated country names
print(repeated_countries)

Country
India           319
Russia          315
USA             311
Nigeria         304
Pakistan        298
Bangladesh      293
South Africa    291
Brazil          291
China           290
Indonesia       288
Name: count, dtype: int64

In [13]:
raw.groupby(['Country', 'Year']).size().sort_values(ascending=False)

Country    Year
India      2009    26
China      2003    21
India      2016    21
           2008    20
China      2015    20
                   ..
           2020     5
Pakistan   2019     4
Indonesia  2001     4
Nigeria    2002     4
Brazil     2023     3
Length: 250, dtype: int64

In [12]:
# Display unique country names
print(raw['Country'].unique())

['Indonesia' 'Brazil' 'Nigeria' 'Russia' 'Bangladesh' 'USA' 'South Africa'
 'China' 'India' 'Pakistan']